*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(111, 121, 73);
}

.App {
  text-align: center;
    
}

.App-logo {
  margin-top: 60px;
  height: 40vmin;
  clip-path: circle();
  
}
